<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1"><a href="" style="text-decoration:none;"><Icon Name="IconName.AngleUp" IconSize="IconSize.x5" TextColor="TextColor.Black50"></Icon></a></p>
        <p class="mb-1">COPYRIGHT - 2023 ~ IDEALIZADO E DESENVOLVIDO POR GABRIEL SELES</p>
    </div>
</footer>